<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<table class="table table-hover">
    <a href="/view/biodata/create" class="btn btn-primary px-3 py-1">Add Data </a>
    <thead>
        <tr class="text-center">
            <td>Id</td>
            <td>Name</td>
            <td>Region</td>
            <td>Gender</td>
            <td>UserId</td>
            <td>Action</td>
        </tr>
        <% for(var i=0; i<biodata.length; i++) {%>
            <tr class="text-center">
                <td><%= biodata[i].id %></td>
                <td><%= biodata[i].name %></td>
                <td><%= biodata[i].region %></td>
                <td><%= biodata[i].gender %></td>
                <td><%= biodata[i].userId %></td>
                <td class="text-center">
                    <a href="/view/biodata/update/<%= biodata[i].id %>" class="btn btn-primary px-3 py-1">Edit</a>
                    <a href="/view/delete/<%= biodata[i].id %>" class="text-danger  px-3 py-1 text-decoration-none">Delete</a>
                </td>
            </tr>
            <% } %>
    </thead>
  </table>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>